<div class="bottom-nav footer"> 2015 &copy; 影冰辰の后台. </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="__PUBLIC__/js/jquery.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/smooth-sliding-menu.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="__PUBLIC__/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#example').dataTable( {
			"sPaginationType": "full_numbers"
		} );
	} );
</script>
<!--switcher html start-->
<div class="demo_changer active" style="right: 0px;">
  <div class="demo-icon"></div>
  <div class="form_holder">
    <div class="predefined_styles"> <a class="styleswitch" rel="a" href=""><img alt="" src="__PUBLIC__/images/a.jpg"></a> <a class="styleswitch" rel="b" href=""><img alt="" src="__PUBLIC__/images/b.jpg"></a> <a class="styleswitch" rel="c" href=""><img alt="" src="__PUBLIC__/images/c.jpg"></a> <a class="styleswitch" rel="d" href=""><img alt="" src="__PUBLIC__/images/d.jpg"></a> <a class="styleswitch" rel="e" href=""><img alt="" src="__PUBLIC__/images/e.jpg"></a> <a class="styleswitch" rel="f" href=""><img alt="" src="__PUBLIC__/images/f.jpg"></a> <a class="styleswitch" rel="g" href=""><img alt="" src="__PUBLIC__/images/g.jpg"></a> <a class="styleswitch" rel="h" href=""><img alt="" src="__PUBLIC__/images/h.jpg"></a> <a class="styleswitch" rel="i" href=""><img alt="" src="__PUBLIC__/images/i.jpg"></a> <a class="styleswitch" rel="j" href=""><img alt="" src="__PUBLIC__/images/j.jpg"></a> </div>
  </div>
</div>
<!--switcher html end--> 
<script src="__PUBLIC__/assets/switcher/switcher.js"></script> 
<script src="__PUBLIC__/assets/switcher/moderziner.custom.js"></script>
<link href="__PUBLIC__/assets/switcher/switcher.css" rel="stylesheet">
<link href="__PUBLIC__/assets/switcher/switcher-defult.css" rel="stylesheet">
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/a.css" title="a" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/b.css" title="b" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/c.css" title="c" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/d.css" title="d" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/e.css" title="e" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/f.css" title="f" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/g.css" title="g" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/h.css" title="h" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/i.css" title="i" media="all" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/assets/switcher/j.css" title="j" media="all" />
</body>
</html>
