<!DOCTYPE html>
<html>
<head>
<title>统计分析</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="__PUBLIC__/css/thin-admin.css" rel="stylesheet" media="screen">
<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="__PUBLIC__/style/style.css" rel="stylesheet">
<link href="__PUBLIC__/style/dashboard.css" rel="stylesheet">
<link href="__PUBLIC__/css/demo_page.css" rel="stylesheet">
<link href="__PUBLIC__/css/demo_table.css" rel="stylesheet">
<script src="__PUBLIC__/js/jquery.js"></script> 
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container">
  <div class="top-navbar header b-b"> <a data-original-title="Toggle navigation" class="toggle-side-nav pu  ll-left" href="#"><i class="icon-reorder"></i> </a>
    <div class="brand pull-left"> <a href="{:U('Index/index')}"><img src="__PUBLIC__/images/logo.png" width="147" height="33"></a></div>
    <ul class="nav navbar-nav navbar-right  hidden-xs">
      <li class="dropdown user  hidden-xs"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-male"></i> <span class="username">Admin</span> <i class="icon-caret-down small"></i> </a>
        <ul class="dropdown-menu">
          <li><a href="{:U('Login/logout')}"><i class="icon-key"></i>安全退出</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
